@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/typography' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.initial {
    &__video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }

    &__video-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__button {
        font-size: 1rem;
        font-weight: 700;
        color: $orange;
        border-radius: 20px;
        text-decoration: none;
        background-color: transparent;
        border: 1px solid $orange;
        padding: 0.6rem;
        width: 9rem;
        font-family: 'poppins';
        box-shadow: 2px 2px 5px $black;
        overflow: hidden;
        position: relative;

        &:hover {
            color: white;
            background: linear-gradient(90deg, $orange 50%, transparent 50%);
            background-size: 200% 100%;
            transition: background-position 0.5s;
        }

        &--login {
            font-family: 'oswald';
            margin-left: 2rem;
        }
    }

    &__overlay {
        background: rgba(0, 0, 0, 0.6);
    }

    &__content {
        display: flex;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
    }
}